<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Visualization files</title>
        <style media="screen">
            table {
                border-collapse: collapse;
                border: 1px solid grey;
            }
            th {border: 1px solid grey; padding: 1em;}
            td {border: 1px solid grey; padding: 1em;}
        </style>

    </head>
    <body>
        <div style="margin:1em;">
            <h1>Выбор файла для визуализации</h1>
        </div>
        <div style="margin:1em;">
            {{files}}
        </div>

    </body>
</html>
