<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Visualization files</title>
        <style media="screen">
            table {
                border-collapse: collapse;
                border: 1px solid grey;
            }
            th {border: 1px solid grey; padding: 1em;}
            td {border: 1px solid grey; padding: 1em;}
        </style>

    </head>
    <body>
        <div style="margin:1em;">
            <h1>Выбор файла для визуализации</h1>
        </div>
        <div style="margin:1em;">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="">
                    <label for="file">Choose file to upload</label>
                    <input type="file" id="audio_file" name="audio_file">
                </div>
                <div class="">
                    <label for="file">Choose markup file to upload</label>
                    <input type="file" id="markup" name="markup">
                </div>
                <div class="">
                    <label for="file">Choose markup file (reference) to upload</label>
                    <input type="file" id="ref_markup" name="ref_markup">
                </div>
                <div class="">
                    <input type="submit" value="Upload">
                </div>
            </form>

        </div>
        <div style="margin:1em;">
            {{files}}
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
